@model Back_Progetto_S5_L5_PoliziaMunicipale.Models.Entity.TipoViolazione

@{
    ViewData["Title"] = "Nuova Violazione";
}

<h1 class="fs-3">Nuova Violazione</h1>
<hr />

<form asp-action="Create" asp-controller="TipoViolazione" method="post">
    <div class="mb-3">
        <label asp-for="Descrizione" class="form-label"></label>
        <textarea asp-for="Descrizione" class="form-control"></textarea>
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-rounded">Salva</button>
    <a asp-action="Index" class="btn btn-secondary btn-rounded">Annulla</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
