@model Back_Progetto_S5_L5_PoliziaMunicipale.Models.Entity.TipoViolazione

@{
    ViewData["Title"] = "Dettagli Violazione";
}

<h4>Dettagli Tipo Violazione</h4>
<hr />

<div class="card-panel">
    <p><strong>Descrizione:</strong> @Model.Descrizione</p>
</div>
<div class="mt-3 d-flex gap-2">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Salva</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Annulla</a>
</div>